.header {
    padding: 40px 0 100px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    column-gap: 70px;
    
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
}

.menu__item {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
}

.header__logo {
    font-size: 20px;
    font-weight: 500;
}

.header__tel {
    font-size: 16px;
}