@font-face{
	font-family: HelveticaNeueLTStd;
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 55 Roman.woff2") format("woff2"), url("../fonts/Helvetica Neue LT Std 55 Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HelveticaNeueLTStd;
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 56 Italic.woff2") format("woff2"), url("../fonts/Helvetica Neue LT Std 56 Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: HelveticaNeueLTStd;
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 65 Medium.woff2") format("woff2"), url("../fonts/Helvetica Neue LT Std 65 Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: HelveticaNeueLTStd;
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 75 Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue LT Std 75 Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Miracle;
	font-display: swap;
	src: url("../fonts/MiracleRegular.woff2") format("woff2"), url("../fonts/MiracleRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
